
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #667eea, #764ba2);
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    max-width: 400px;
}

.formulario {
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.formulario h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.formulario label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.formulario input,
.formulario textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: 0.3s;
}


.formulario button {
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #667eea;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.formulario button:hover {
    background-color: #5563c1;
}
